.staff_container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title {
    border-left: 8px solid #000;
    text-align: left;
    margin: 50px auto;
    padding-left: 10px;
}

.staff_table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    color: #737373;

}

.staff_table thead th {
    font-weight: bold;
    background-color: #fff;
    color: #737373;
    border-bottom: 3px solid #ddd;
}

.staff_table tbody th {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    color: #737373;
}

table {
    table-layout: fixed;
    width: 100%;
}

table tr{
    border: solid 3px rgb(237, 237, 237);
}

thead tr {
    border-bottom: solid 5px rgb(237, 237, 237);

}

thead th {
    padding: 10px 10px;
}

tbody th {
    padding: 10px 10px;
}

.staff-attendance-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .staff_container {
        max-width: 1000px;
    }

}

@media (min-width: 768px) and (max-width: 850px) {
    .staff_container {
        max-width: 600px;
    }

}