.list-content {
    max-width: 800px;
    margin: 50px auto;
}

.list-title {
    border-left: solid 10px black;
    padding-left: 30px;
}

.request-tab {
    display: flex;
    gap: 70px;
    margin: 50px auto 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

.request-tab a {
    text-decoration: none;
    color: #000000;
}

.request-tab a.active {
    color: #000000;
    font-weight: bold;
}

.correction-table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    color: #737373;

}

.correction-table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.correction-table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


.correction-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.correction-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table tr {
    border-bottom: solid 3px rgb(237, 237, 237);
}

thead tr {
    border-bottom: solid 5px rgb(237, 237, 237);

}

thead th {
    padding: 10px 20px;
}

tbody th {
    padding: 10px 10px;
}

.detail_link {
    text-decoration: none;
    color: #000000;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .list-content {
        max-width: 1000px;
    }

    .request-tab {
        font-size: 26px;
    }

    .title {
        font-size: 24px;
    }

    thead th,
    tbody td {
        padding: 14px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .list-content {
        max-width: 95%;
        padding: 0 10px;
    }

    .request-tab {
        gap: 3px;
        padding: 15px;
    }

    .title {
        font-size: 20px;
        margin: 30px auto;
    }

    thead th,
    tbody td {
        padding: 8px;
        font-size: 14px;
    }