.login__content{
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: 30px;
}

label {
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 100%;
    height: 40px;
    margin: 5px auto;
    border-width: 1px;
    border-radius: 3px;
}

.error__message {
    color: red;
    text-align: left;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    height: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    margin: 40px auto 20px;
    padding: 5px;
    font-size: 18px;
}

.register_link {
    text-decoration: none;
    color: #0073CC;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .login__content {
        width: 40%;
        font-size: 18px;
    }

    input {
        height: 45px;
        font-size: 16px;
    }

    .login-btn {
        height: 45px;
        font-size: 20px;
    }

}

@media (min-width: 768px) and (max-width: 850px){
    .login__content {
        width: 80%;
        padding: 15px;
        font-size: 16px;
        }
    
    input {
        height: 38px;
        font-size: 15px;
    }
    .login-btn {
        height: 40px;
        font-size: 18px;
        }
}
