.detail_container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.title {
    border-left: 8px solid #000;
    text-align: left;
    margin: 50px auto;
    padding-left: 10px;

}

.row-name {
    color: #737373;
    text-align: justify;
}

.detail_table {
    background-color: #FFFFFF;
    border-collapse: collapse;
}

table {
    width: 100%;
    white-space: nowrap;
}

table tr {
    border: solid 3px rgb(237, 237, 237);
}

.detail_table th,
.detail_table td {
    padding: 28px 40px;
}

.reason {
    justify-content: flex-start;
    padding-left: 10px;
}
.approved-status {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.approved {
    padding: 5px 15px;
    border-style: solid 1px #737373;
    border-radius: 5px;
    background-color: #737373;
    color: #FFFFFF;
}


@media (min-width: 1400px) and (max-width: 1540px) {
    .detail_container {
        width: 60%;
    }

    .title {
        font-size: 24px;
    }

    .detail_table th,
    .detail_table td {
        padding: 30px 50px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .detail_container {
        width: 90%;
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
        margin: 30px auto;
    }

    .detail_table th,
    .detail_table td {
        padding: 16px 20px;
        font-size: 14px;
    }

}